
header{
    display:block; 
    position: absolute; 
    top: 0px;
    left: 0px; 
    width: 100%; 
}
#header-nav{
    display: flex; 
    // justify-content: space-between;
    margin-top: 0px;
    background-color: rgb(46, 26, 26);
    position: relative; 
    h1{
        position: absolute; 
        left: 650px; 
        top: 10px; 
        font-family: 'Amaranth', sans-serif;
        font-size: 50px;
        color: white; 
        // width: 300px; 
        margin: auto; 
        text-transform: lowercase; 
        
    }
    
}



.links{
    display: flex; 
    width: 300px; 
    list-style: none;

    li{
        border: solid white 2px; 
        padding: 10px;  
        margin: 10px; 
        border-radius: 10%;
        background-color: sandybrown;
        box-shadow: 2px -2px gray;
    }

    a{
        font-family: "Amaranth", sans-serif;
        text-decoration: none; 
    }
}

body{
    display: block;
    margin-top: 150px;
    background-color: linear-gradient(rgb(189, 69, 69), rgb(69, 131, 189))

    
}


